*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container{
	background: rgb(221 229 218 / 85%);
	display: flex;
	gap: .5em;
	margin: 1em;
	padding: .5em;
	width: 25em;
	height: auto;
	flex-wrap: wrap;
}
.item{
	background: rgb(110 185 194);
	width: 3em;
	height: 3em;
/*	transition: all 1s ease-in;*/
}
.item.selected{
	 animation: flash .3s ease-in-out .1s 3;
}
@keyframes flash {
  0% {
    background: rgb(110 185 194);
  }
  50% {
    background: red;
  }
}
